@{
	ViewBag.Title = "DreamSpark (MSDNAA) @ BME";
	ViewBag.MetaKeywords = "MSDNAA, DreamSpark, Microsoft, szoftver, letöltés";
	ViewBag.MetaDescription = "Microsoft DreamSpark (Microsoft Developer Network Academic Alliance) szolgáltatás a Budapesti Műszaki és Gazdaságtudományi Egyetemen";
}

<div class="hero-unit visible-desktop visible-tablet">
	<h1 class="bme-color text-original">
		DreamSpark @@ BME
	</h1>

	<p>
		Erről a szerverről elindulva a
		<strong>
			Budapesti Műszaki és Gazdaságtudományi Egyetem minden karának oktatói és hallgatói
		</strong>
		a DreamSpark Premium (korábban MSDNAA) program keretében a Campus licencen kívül további Microsoft szoftvereket érhetnek el.
	</p>

	<p>
		<a class="btn btn-primary" href="@Url.RouteUrl( RouteNames.Download )">Letöltés</a>
		&nbsp;
		<small><a href="@Url.RouteUrl( RouteNames.Program )">Bővebben a DreamSpark Premium programról</a></small>
	</p>
</div>

<div class="visible-phone">
	<p class="text-center">
		Erről a szerverről elindulva a
		<strong>
			Budapesti Műszaki és Gazdaságtudományi Egyetem minden karának oktatói és hallgatói
		</strong>
		a DreamSpark Premium (korábban MSDNAA) program keretében a Campus licencen kívül további Microsoft szoftvereket érhetnek el.
	</p>

	<p class="text-center">
		<a class="btn btn-primary" href="@Url.RouteUrl( RouteNames.Download )">Letöltés</a>
	</p>
	<p class="text-center">
		<a href="@Url.RouteUrl( RouteNames.Program )">Bővebben a DreamSpark Premium programról</a>
	</p>
</div>

<p>
	<span class="label label-important">Fontos változás!</span>
	<span class="text-error">
		A letöltőszerverre 2014. márciusától <strong>nem szükséges külön regisztrálni</strong>, mert a bejelentkezés a BME Címtár segítségével történik.
		<a href="@Url.RouteUrl( RouteNames.Faq, fragment: "Regisztracio" )">Gyakori kérdések &raquo;</a>
	</span>
</p>

<p>&nbsp;</p>

<div class="row">
	<div class="span8">
		<h2>Így juthat hozzá a szoftverekhez</h2>

		<ul class="unstyled">
			<li><i class="icon-ok"></i> Ellenőrizze, hogy vonatkozik-e Önre a <a href="@Url.RouteUrl( RouteNames.Licence )">DreamSpark licenc</a>!</li>
			<li><i class="icon-ok"></i> Olvassa el a	<a href="@Url.RouteUrl( RouteNames.DownloadGuide )"> letöltéssel</a> kapcsolatos útmutatót!</li>
			<li><i class="icon-ok"></i> Kattintson a felső menüben található <a href="@Url.RouteUrl( RouteNames.Download )">Letöltés</a> linkre!</li>
		</ul>
	</div>

	<div class="span4">
		<h2>útmutatók</h2>

		<ul class="unstyled">
			<li><i class="icon-info-sign"></i> <a href="@Url.RouteUrl( RouteNames.DownloadGuide )" title="Segítség a letöltéshez">Letöltéshez</a></li>
			<li><i class="icon-info-sign"></i> <a href="@Url.RouteUrl( RouteNames.AdminGuide )" title="Segítség rendszergazdáknak">Rendszergazdáknak</a></li>
		</ul>
	</div>
</div>


<p>&nbsp;</p>

<div class="row">
	<div class="span8">
		<h2>gyakori kérdések</h2>

		<ul class="unstyled">
			<li>
				<i class="icon-question-sign"></i>
				<a href="@Url.RouteUrl( RouteNames.Faq, fragment: "Letoltes" )">
					Mi a teendő, ha a letöltéskor kapott hibakód lehetséges okai közül egyik sem igaz rám?
				</a>
			</li>
			<li>
				<i class="icon-question-sign"></i>
				<a href="@Url.RouteUrl( RouteNames.Faq, fragment: "Telepites")">
					Mi a teendő, ha nem sikerül megváltozott hardverű gépen aktiválnom a Windowst?
				</a>
			</li>
			<li>
				<i class="icon-question-sign"></i>
				<a href="@Url.RouteUrl( RouteNames.Faq, fragment: "Telepites")">
					Mi a teendő, ha nem sikerül a második számítógépemen aktiválnom a szoftvert?
				</a>
			</li>
			<li>
				<i class="icon-question-sign"></i>
				<a href="@Url.RouteUrl( RouteNames.Faq, fragment: "Telepites")">
					Mi a teendő, ha aktiváláskor <em>"A termékkulcs már használatban van"</em> üzenetet kapom?
				</a>
			</li>
		</ul>

		<p>
			<i class="icon-circle-arrow-right"></i> <a href="@Url.RouteUrl( RouteNames.Faq )">További kérdések és válaszok</a>
		</p>

		<p>
			<i class="icon-circle-arrow-right"></i> <a href="@Url.RouteUrl( RouteNames.DownloadErrors )">Letöltési hibakódok magyarázata</a>
		</p>
	</div>

	<div class="span4">
		<h2>segítség</h2>

		<p>
			Ha további kérdése van, vegye fel a kapcsolatot a
			<a href="@Url.RouteUrl( RouteNames.Contact )">program adminisztrátorokkal</a>.
		</p>
	</div>
</div>